logging:
  file:
    path: .
    name: application.log
spring:
  output:
    ansi:
      enabled: ALWAYS
  integration:
    pollingRateInMilliSec: 1000
  datasource:
    url: jdbc:h2:mem:databaseName
    driverClassName: org.h2.Driver
    username: ***
    password: ***
  h2:
    console:
      enabled: true
      path: /anyPath
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect