body, .uppercase {
    text-transform: uppercase;
}

.mainColor{
    background-color: #03a9f4 !important;
}

.mainColorDark{
    background-color: #038fd9 !important;
}

.textTransformedAsWritten {
    text-transform: none;
}

html, body {
    height: 100vh;
}

.fullHeight {
    min-height: 100vh !important;
}

.fullWidthOfParent {
    width: 100%;
}

.border {
    /*
    border: 1px solid black;
    */
}

a:link {
    color: black;
}

.noFloat {
    float: none !important;
}

.row {
    margin: 0 !important;
}