:root {

    --mainColor: #03a9f4;

    --mainColorDark: #038fd9;
}

.mainColor {
    background-color: var(--mainColor) !important;
}

.mainColorDark {
    background-color: var(--mainColorDark) !important;
}

.textTransformedAsWritten {
    text-transform: none;
}

html, body {
    height: 100vh;
}

body, .uppercase {
    text-transform: uppercase;
}

.fullHeight {
    min-height: 100vh !important;
}

.fullWidthOfParent {
    width: 100%;
}

.border {
    /*
    border: 1px solid black;
    */
}

a:link {
    color: black;
}

.noFloat {
    float: none !important;
}

.row {
    margin: 0 !important;
}