@media only screen and (max-width: 1000px) {
    .heightOf100vh {
        min-height: 100vh !important;
    }
}

@media only screen and (min-width: 1001px) {
    .heightOf100vh {
        min-height: 100vh !important;
    }

    .alignWelcomeTextOnMobile {
        width: 50% !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .alignCardsOnMobile {
        width: 50% !important;
        margin-right: auto !important;
        margin-left: 0 !important;
        padding: 10px;
    }
}

/*set the option text color of the dropdown to another color*/
.dropdown-content li > a, .dropdown-content li > span {
    color: var(--mainColorDark) !important;
}

/*set the disabled option of the dropdown to another color*/
.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: darkgrey !important;
}

#contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Toggle: bar */
.switch label input[type=checkbox]:checked + .lever {
    background-color: var(--mainColorLight) !important;
}

/* Toggle: circle ON */
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: var(--mainColorDark) !important;
}

/* Toggle: circle OFF */
.switch label .lever:before {
    background-color: lightgray;
}

/* Toggle: circle ON Animation to OFF */
input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    background-color: var(--mainColorWithOpacity);
}