.red {
    color: red;
}

.green {
    color: yellowgreen;
}

blockquote {
    border-left-color: black !important;
}

.stickyInParent {
    top: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.chip {
    overflow: hidden !important;
}

@media all and (min-width: 600px) {
    .contentContainer {
        display: flex;
        align-items: stretch;
    }
}

@media all and (min-width: 1000px) {

    .cardContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    .cardItem {
        margin: 5px;
        max-width: 40%;
    }
}
