<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeOverlappingTool</title>
</head>
<body>
<p>I want to:</p>
<ul>
    <li>
        <p><a href="/survey/create">create a new survey</a></p>
    </li>
    <li>
        <p>participate in a survey</p>
        <form action="/survey/participate/" method="post">
            <label>
                Enter your survey number here:
                <input type="text" name="surveyId" placeholder="937c9fc90a5a40fb86ef2d262add11c2"/>
            </label>
            <label>
                <input type="submit" value="Submit"/>
            </label>
        </form>
    </li>
</ul>

</body>
</html>