<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
</head>
<body>

<form th:action="@{/}" method="post">
    <fieldset>
        <legend>Who are you?</legend>
        <label>
            Enter your first name:
            <input type="text" id="firstNameField" th:name="firstNameField" placeholder="John"/>
        </label>
        <label>
            Enter your last name:
            <input type="text" id="lastNameField" th:name="lastNameField" placeholder="Doe"/>
        </label>
        <label>
            What is the purpose of the survey?
            <input type="text" id="purposeField" th:name="purposeField" placeholder="Meet, Greet And Eat"/>
        </label>
        <label>
            How many participants are needed for a match*?
            <input type="number" id="minimumParticipantsFields" th:name="minimumParticipantsFields" placeholder="2"
                   min="2"/>
        </label>
    </fieldset>
    <table>
        <thead>
        <tr>
            <th>Dates of the next 14 days</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="date, status : ${dates}">
            <td>
                <label>
                    <span th:text="${date}"></span>
                    <input type="checkbox" th:id="date + ${status.index}" th:name="date + ${status.index}"
                           th:value="${date}"/>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        You cannot change your submission afterwards, so better be sure that you selected the right dates
        <br/>
        <input type="submit" id="submitButton" value="Submit"/>
    </label>
</form>
<p>
    <sup>*</sup>A match is considered as an overlapping of the required participants on a certain date to be able to
    start the event
</p>
</body>
</html>